* {

}

p, ul {
	font-family: arial;
	font-size: 17px;
	color: #424d3d;
	line-height: 25px;
}

.container {
	width:960px;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
	border-left:1px solid #000;
	border-right:1px solid #000;
}

.page-divider {
	width:100%;
	background-image:url('images/divider-shadow.png');
	background-repeat: no-repeat;
	position: absolute;
	margin-left: -171px;
}

.page-divider img {
	margin-left:186px;
	margin-top: 18px;
}

.panel-4 {
	float:left;
	width:100%;
}

.panel-4 h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	color:#68a837;
	line-height: 30px;
}

.panel-4 ul {
	font-weight: bold;
}

.panel-4 ul li {
	color:#ee7526;
}

.panel-4 ul li span {
	color: #424d3d;
}

.panel-4 .panel-headline {
	max-width: 565px;
	margin-left: auto;
	margin-top:65px;
	margin-right: auto;
	text-align: center;
}

.ingredient-left, .ingredient-right {
	width:100%;
	float:left;
	max-height:244px;
}

.ingredient-left hr {
	border: none;
	background-image:url('images/dot.png');
	height:4px;
	width:630px;
	margin-left:270px;
	margin-top:-64px;
}

.ingredient-right hr {
	position: absolute;
	border: none;
	background-image:url('images/dot.png');
	height:4px;
	width:630px;
	margin-top:224px;
}

.ingredient-left img {
	margin-left:-80px;
}


.ingredient-right img {
	float:right;
	margin-right:-80px;
}

#camu {
	position: absolute;
	margin-left: 270px;
	margin-top: -140px;
}

#fenugreek {
	position: absolute;
	margin-top: 145px;
	margin-left: 125px;
}

#gynema-herb {
	position: absolute;
	margin-left: 270px;
	margin-top: -140px;
}

#alma {
	position: absolute;
	margin-top: 145px;
	margin-left: 85px;
}

.pill-bookend {
	width:100%;
	float:left;
	margin-top:180px;
	margin-bottom:15px;
}

.ribbon-divider {
	margin-left:-11px;
}

#bookend {
	position: absolute;
	margin-left: 499px;
	margin-top: -222px;
}

.panel-5 {
	float:left;
	width:100%;
	margin-bottom:50px;
}

.panel-5 .page-divider img {
	margin-left:981px;
}

.panel-5 .panel-headline {
	max-width:840px;
	margin-top:100px;
	margin-left: auto;
	margin-right: auto
}

.panel-5 h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	color:#68a837;
	line-height: 30px;
}

#panel-5-divider {
	margin-left:-86px;
	margin-top:-50px;
}

.moniker-left {
	float:left;
	max-width:465px;
}

.moniker img {
	float:right;
}

.footer {
	width:100%;
	height:180px;
	background-image: url('images/footer-bgk.png');
	background-repeat: repeat-x;
	float:left;
}

.footer-panel {
	float:left;
	width: 100%;
	text-align: center;
}

#footer-logo {
	margin-top:-20px;
}