/*
font-family:'OfficinaSerifITCW01-Boo 734540';
font-family:'OfficinaSerifITCW01-Boo 734543';
font-family:'OfficinaSerifITCW01-Med';
font-family:'OfficinaSerifITCW01-MdI';
font-family:'OfficinaSerifITCW01-Bol 734534';
font-family:'OfficinaSerifITCW01-Bol 734537';
font-family:'OfficinaSerifITCW01-XBo 734546';
font-family:'OfficinaSerifITCW01-XBo 734549';
font-family:'OfficinaSerifITCW01-Bla 734528';
font-family:'OfficinaSerifITCW01-Bla 734531';
*/


body {
	margin: 0;
	padding: 0;
	border: 0;
}

body, html {
overflow-x: hidden;
}

img {
border:none;
}

.top-content {
	background-image: url("images/beans-back-1.png");
    background-repeat: repeat-x;
    height: 498px;
    width: 100%;
}

.bottom-content {
	background-image: url("images/beans-back-2.png");
    background-repeat: repeat-x;
    height: 487px;
    margin: -47px 0 0;
    width: 100%;
}

.top-container {
	width: 1000px;
	height: 498px;
	margin: 0 auto;
}

.header {
	height: 185px;
    position: relative;
    width: 100%;
    z-index: 6000;
}

.logo {
	width: 209px;
	height: 184px;
}

.nav {
    margin: -147px 0 0 160px;
}

.nav ul {
	list-style-type: none;
}
.nav ul li b {
font-weight:normal;
}
.nav ul li a {
	background-image: url("images/nav-back.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: left;
    font-family:'OfficinaSerifITCW01-Bol 734534';
    font-size: 12px;
    height: 31px;
    margin: 0 0 0 -1px;
    padding: 23px 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #BA5E16;
    text-transform: uppercase;
    transition: all 0.3s linear 0s;
    width: 112px;
}

.nav ul li a p {
    margin: 0 0 0 18px;
    position: relative;
    text-align: left;
    top: -7px;
}

.nav ul li span {
	font-weight: normal;
    font-family:'OfficinaSerifITCW01-Boo 734540';
}

.nav ul li a:hover {
	background-image: url('images/nav-roll-back.png');
	background-repeat: no-repeat;
    text-shadow: none;
}

.leafs {
	margin: -105px 0 0 -25px;
}

.happy-body {
	left: 60px;
    position: relative;
    top: -150px;
}

.bottom-container {
    height: 410px;
    margin: 0 auto;
    position: relative;
    top: 47px;
    width: 1000px;	
}

.box {
    float: left;
    margin: 50px 16px 0 0;
}

.promo {
    width: 316px;
    height: 306px;
    background-image: url('images/promo-back.png');
}

.beanz-icon2 {
    margin: 247px 0 0 68px;
}

.learn-more-ribbon {
    margin: 0 0 -27px 19px;
}

.the-science {
    width: 316px;
    height: 306px;
    background-image: url('images/science-back.png');
}

.video {
    width: 296px;
    height: 157px;
    margin: 0 0 0 10px;
}

.science-text-leaf {
    margin: 6px 0 0 29px;
}

.the-science p {
    color: #414A3C;
    font-family: georgia;
    font-size: 13px;
    margin: 20px 0 0 40px;
    width: 250px;
}

.the-science p a {
    text-decoration: none;
    color: #e86e0f;
}

.fact-list {
    height: 110px;
    margin: 150px 0 0 22px;
    width: 92%;
}
.the-facts {
     width: 316px;
    height: 306px;
    background-image: url('images/facts-back.png');
}

.beanz-bag {
    display: block;
    margin: -130px auto;
position: relative;
z-index: 6000;
}

.fact-list ul {
    background-image: url("images/green-arrow.png");
    background-position: 25px 6px;
    background-repeat: no-repeat;
    list-style-type: none;
    margin: 0 0 0 10px;
    width: 84px;
}

.fact-list ul li {
    color: #E76E0F;
    font-family: 'OfficinaSerifITCW01-Bol 734534';
    font-size: 15px;
    text-transform: uppercase; 
}

.fact-list ul li span {
    font-family:'OfficinaSerifITCW01-Boo 734540';
    color: #363637;
}

.fact-list ul li:last-of-type {
    background-image: none;
    border-bottom: 1px dotted #000000;
    padding: 0 0 5px;
}

.right {
    float: right;
    margin: -87px 40px 0 0;
}

.footer-content {
    height: 211px;
    margin: -211px 0 0;
    width: 100%;
    background-image: url('images/footer-back.png');
}

.footer-container {
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    width: 1011px;
}

.bottom-nav {
    border-bottom: 1px dotted;
    height: 50px;
    margin: -17px 0 0 80px;
    width: 902px;
}

.bottom-nav ul {
    list-style-type: none;
    margin: 0 0 0 -40px;
}

.bottom-nav ul li a {
    margin: 0 10px 0 0;
    float: left;
    text-decoration: none;
    color: #fff;
    font-family:'OfficinaSerifITCW01-Boo 734540';
    text-transform: uppercase;
    text-shadow: 0 -1.5px 0 #000;
    font-size: 14px;
}

.center-dot {
    background-image: url('images/footer-nav-dot.png');
    background-repeat: no-repeat;
    background-position: 5px 6px;
    padding: 0 0 0 20px;
}

.bottom-nav ul li a span {
    text-transform: none;
}

.beanz-icon {
    margin: 30px 0 0 10px;
}

.footer-social-media-icons {
    float: right;
    width: 170px;
    height: 50px;
}

.footer-social-media-icons ul {
    left: 100px;
    position: relative;
    top: -17px;
}

.footer-social-media-icons ul li a img {
    float: left;
}

.fda-section {
    margin: 10px 0 0 80px;
    width: 570px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.fda-section p {
    color: #B2B9B6;
    font-family: georgia;
    font-size: 10px;
    font-style: italic;
    line-height: 15px;
    opacity: .7;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 0;
}

.terms-policy {
    float: right;
    height: 50px;
    margin: -63px 19px 0 0;
    width: 200px;
}

.terms-policy ul {
    margin: 0 0 0 0;
    list-style-type: none;
}

.terms-policy ul li a {
    color: #FFFFFF;
    float: left;
    font-family: georgia;
    font-size: 11px;
    margin: 0 0 0 5px;
    text-decoration: none;
}

.first {
    border-right: 2px solid #7AC142;
    padding: 0 5px 0 0;
}

.left ul + ul li:last-of-type {
    border: none;
}

.right ul + ul li:last-of-type {
    border-bottom: none;
}

#footer {
    height:180px;
    width:100%;
    background-image:url('images/footer.png');
    background-repeat:repeat;    
    float:left;
    position:relative;
    z-index:200;
}

#footainer {
    width:1000px;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
}

.bean {
    float:left;
    margin-top:14px;
    margin-left:76px;
}

#footainer ul {
    color:#fff;
    font-family:'OfficinaSerifITCW01-Boo 734540'; 
    font-size:14px;
    text-transform:uppercase;
    list-style:square;
    float:left;
    margin-left:20px;
    padding:0px;
}

#footainer a {
    text-decoration:none;
    color:#fff;
    font-style:normal;
}

#footainer ul li {
    float:left;
    padding-right:11px;
    list-style:none;
    text-shadow: 0px -1px 0px rgba(0, 0, 100, 1);
}

#footainer ul li.item:before {
    content: "▪";
    color:#f17a1c;
    padding-right:11px;
}



#divider {
    width:775px;
    margin-right:93px;
    border-top:1px dotted #22271f;
    border-bottom:1px dotted #5d675b;
    height:0px;
    float:right;
}

#smm2 {
    float:right;
    margin-right:93px;
    margin-top:6px;
}

#footainer p {
    float:left;
    color:#b2b9b6;
    font-family:georgia;
    font-size:10px;
    font-style:italic;
    text-shadow:none;
    max-width:550px;
    margin-left:130px;
    line-height:15px;
    opacity:.7;
    border:1px solid rgba(255, 255, 255, 0.3);
    padding:5px;
    padding-left:10px;
}

#theonewhoknocks {
    float:right;
    margin-right:93px;
    color:#acb3af;
    font-family:georgia;
    font-size:11px;
    margin-top:11px;
}

.socialalignment {
    float:left;
    padding-left:5px;
    padding-right:5px;
}

.utube {
    margin-top:4px;
}
.twter {
    margin-top:2px;
}

#slideFrame {
position:relative;
float:left;
width:960px;
height:384px;
margin-top:-73px;
margin-left:16px;
}

#slideFrame .slide:first-of-type {
position:absolute;
z-index:5000;
}

#slideFrame .slide {
position:absolute;
z-index:5000;
}

#slideFrame .slide img {
display:none;
}

#slideFrame .slide img:first-of-type {
display: inline;
position: absolute;
left:-220px;
}

.slide .overlay {
position:absolute;
width:290px;
height:387px;
background-color:rgba(255,255,255,0.8);
z-index:1000;
left:670px;
}

.overlay h2 {
border-top:4px solid #79c043;
border-bottom:1px solid #79c043;
font-family:'OfficinaSerifITCW01-Boo 734540';
color:#e86e0f;
font-size:52px;
font-weight:normal;
text-transform:lowercase;
margin-left:24px;
margin-right:24px;
line-height:40px;
padding-top:10px;
padding-bottom:5px;
margin-top:15px;
vertical-align:middle;
margin-bottom:5px;
}
.overlay h2 span {
color:#404a3c;
font-size:42px;
font-family:'OfficinaSerifITCW01-Bol 734534';
text-transform:uppercase;
}
#slideFrame  .slide .overlay img {
position:relative;
left:0px;
vertical-align:middle;
}

.lm-mm {
margin-left: 38px;
margin-top: 50px;
}

.overlay p {
font-family:'OfficinaSerifITCW01-Boo 734540';
color:#404a3c;
margin:0px;
margin-left:24px;
margin-right:24px;
font-size:20px;
text-transform:lowercase;
}